.recipe-detail-container {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background: #fff;
}

.recipe-detail-image-container {
  flex: 1;
  max-width: 50%;
}

.recipe-detail-content p {
  text-align: left;
}

.recipe-detail-container h1 {
  margin-top: 20px;
}

.ingredient-list-container {
  max-height: 400px;
  overflow-y: auto;
}

.recipe-detail-image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.recipe-detail-content {
  flex: 1;
  max-width: 50%;
}

.back-button-container {
  text-align: left;
}

.back-button {
  padding: 10px 40px;
  text-decoration: none;
  color: white;
  background-color: #00395f;
  border: none;
  font-size: 21px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #0064a7;
}

.edit-icon {
  margin-left: 10px;
}

.edit-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 8px;
  display: flex;
  margin-left: 20px;
  margin-top: 50px;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.edit-button:hover {
  background-color: #45a049;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.edit-button:active {
  transform: translateY(2px);
}

.button-row {
  display: flex;
}
